.App {
  text-align: center;
  margin-top: 70px;
}

a {
  text-decoration: none;
}

nav {
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 50px;
  background: #eee;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  text-decoration: none;
}

#footer {
  position: fixed;
  bottom: 0px;
  width: 100vw;
  background: #eee;
  
}
