/*========Global styles=========*/

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
}

:root {
  --indigo: #0D3B66;
  --cream: #FAF0CA;
  --yellow: #F4D35E;
  --orange: #EE964B;
  --red: #F95738;
}

/* font-family: 'Asap Condensed', sans-serif;
font-family: 'Fredoka One', cursive;
font-family: 'Pragati Narrow', sans-serif; */

body {
  margin: 0;
}

.App {
  text-align: center;
  height: 100%;
  font-family: 'Pragati Narrow', sans-serif;
  padding-left: 70px;
}

a {
  text-decoration: none;
  color: black;
}

h1, h2, h3 {
  font-family: 'Fredoka One', cursive;
}

ul {
  list-style: none;
  padding: 0;
}

/*=============Nav==============*/

nav {
  position: fixed;
  left: 0px;
  width: 70px;
  height: 100vh;
  font-size: 38px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: white;
}

nav a {
display: block;
margin: 50px 0;
color: var(--indigo);
}

/*===============Homepage==============*/

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: var(--indigo);
}

#home h2 {
  color: var(--red);
  margin: 10px 0px;
}

.login-wrapper {
  background: var(--cream);
  border-radius: 20px;
  padding: 30px;
  margin: 20px 0px;
}

.login-wrapper h3 {
  margin-bottom: 20px;
}

#home form {
  text-align: left;
  font-size: 1.5rem;
}

.form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#home label {
  margin-right: 10px;
}

#home input {
  border: 1px solid var(--indigo);
  border-radius: 5px;
  font-size: 1.5rem;
  font-family: 'Pragati Narrow', sans-serif;
  margin: 5px 0px;
  background: white;
  color: #666;
  padding: 0px 5px 0px 5px;
}

/*============Student Report==========*/

.student-report {
  position: relative;
  margin-top: 20px;
  margin-right: 20px;
  border-radius: 30px;
  background: var(--cream);
}

.photo-card {
  position: absolute;
  top: -10px;
  left: -20px;
  background: var(--indigo);
  width: 200px;
  height: 200px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo-card img {
  height: 180px;
  width: 180px;
  border-radius: 10px;
}

.student-title-row {
  color: var(--red);
  padding-left: 188px;
  text-align: left;
  font-weight: 200;
  height: 40px;
  display: flex;
  align-items: center;
}

.student-info-row {
  background: var(--indigo);
  color: white;
  text-align: left;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  padding: 20px 20px 20px 188px;
}

.student-info-row h3 {
  font-size: 3rem;
  margin-right: 20px;
}

.student-info-row h4 {
  font-size: 2rem;
  margin-right: 20px;
}


/*============Skills tile=============*/

.skills-tile-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-top: 50px;
}

.skills-tile {
  border-radius: 30px;
  background: var(--yellow);
  margin: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  color: var(--indigo);
}

.skills-tile h3 {
  color: var(--red);
}

.skills-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 3px 0;
}

.skills-list p {
  line-height: 1rem;
  text-align: left;
  margin-left: 5px;
}

.skills-tile button {
  background: transparent;
}

.skills-tile svg {
  pointer-events: none;
  color: var(--indigo);
  font-size: 1.3rem;
}

/*==============================*/

.student-map {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.child-tile {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-radius: 20px;
  margin: 10px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-row {
  background: #eee;
  border: 1px solid black;
  margin: 5px 5px;
  padding: 5px;
  border-radius: 5px;
  text-align: left;
}

/*===========Footer=============*/

#footer {
  position: fixed;
  bottom: 0px;
  width: 100vw;
  background: #eee;
  
}
